@font-face {
	font-family: MabryPro;
	font-display: swap;
	src: url("../fonts/MabryPro-Bold.woff2") format("woff2"), url("../fonts/MabryPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MabryPro;
	font-display: swap;
	src: url("../fonts/MabryPro-Light.woff2") format("woff2"), url("../fonts/MabryPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: MabryPro;
	font-display: swap;
	src: url("../fonts/MabryPro-Black.woff2") format("woff2"), url("../fonts/MabryPro-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: MabryPro;
	font-display: swap;
	src: url("../fonts/MabryPro-Regular.woff2") format("woff2"), url("../fonts/MabryPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MabryPro;
	font-display: swap;
	src: url("../fonts/MabryPro-Medium.woff2") format("woff2"), url("../fonts/MabryPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
