#formModal {
  position: absolute;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.d-n-d {
  display: none !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1168px) {
  .container {
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 960px) {
  .container {
    max-width: -webkit-calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
@media screen and (max-width: 640px) {
  .d-n-m {
    display: none !important;
  }
  .d-b-m {
    display: block !important;
  }
  .container {
    max-width: -webkit-calc(100% - 20px);
    max-width: -moz-calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.go_back-link {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #000;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}
@media screen and (max-width: 960px) {
  .go_back-link {
    left: 10px;
    top: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .go_back-link {
    left: 8px;
    top: 8px;
    font-size: 13px;
  }
}
.wrapper-page {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper-page::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.wrapper-page.gallery-page {
  min-height: 100vh;
  height: auto;
}
@media screen and (max-width: 900px) and (max-height: 640px) {
  .wrapper-page {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  .wrapper-page {
    height: 200vh;
  }
}
.wrapper-page > * {
  width: 100%;
  position: relative;
  z-index: 2;
}
.wrapper-page .main-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.042);
}
body .privacy-page {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px 20px;
}
body .privacy-page h1 {
  font-size: 36px;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 960px) {
  body .privacy-page h1 {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  body .privacy-page h1 {
    font-size: 18px;
  }
}
body .privacy-page p {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4;
  letter-spacing: 0.03rem;
}
@media (max-width: 960px) {
  body .privacy-page p {
    font-size: 14px;
  }
}
body .privacy-page a {
  color: #00f;
}
.header_top {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
}
@media screen and (max-height: 768px) {
  .header_top {
    padding: 15px 0;
  }
}
.header_top .header_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header_top .header_text p {
  font-size: 18px;
  line-height: 28px;
  display: block;
  color: #fff;
}
.header_top .header_logo {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.header_top .header_logo:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.header_top .header_logo a {
  display: block;
  cursor: pointer;
}
.header_top .header_logo img {
  max-width: 50px;
  width: 100%;
}
.header_top .header_contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header_top .header_contacts .call_phone,
.header_top .header_contacts p {
  font-size: 18px;
  line-height: 30px;
  color: #fff !important;
  display: block;
  margin-bottom: 2px;
}
@media screen and (max-width: 640px) {
  .header_top {
    padding: 10px 0;
  }
  .header_top .header_contacts .call_phone,
  .header_top .header_contacts p {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
    text-align: right;
  }
}
@media screen and (max-width: 370px) {
  .header_top .header_contacts .call_phone,
  .header_top .header_contacts p {
    font-size: 13px;
  }
}
.header_top .header_contacts ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_top .header_contacts ul li {
  position: relative;
  display: block;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.header_top .header_contacts ul li a {
  color: #fff;
  text-align: center;
  width: 30px;
  display: block;
  line-height: 28px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.header_top .header_contacts ul li a i::before {
  margin: 0;
}
.header_top .header_contacts ul li.link-vk a {
  color: #6198d6;
  border: 1px solid #6198d6;
}
.header_top .header_contacts ul li.link-vk a i::before {
  position: relative;
  left: -1px;
}
.header_top .header_contacts ul li.link-od a {
  color: #f7931e;
  border: 1px solid #f7931e;
}
.header_top .header_contacts ul li.link-inst a {
  color: #833ab4;
  border: 1px solid #833ab4;
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: oldlinear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    ) -moz-;
  background: -o-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.header_top .header_contacts ul li.link-inst a path,
.header_top .header_contacts ul li.link-inst a svg {
  position: relative;
  z-index: 999;
}
.header_top .header_contacts ul li.link-mail a {
  color: #5a7edc;
  border: 1px solid #5a7edc;
}
.header_top .header_contacts ul li:hover.link-vk {
  background-color: #6198d6;
}
.header_top .header_contacts ul li:hover.link-od {
  background-color: #f7931e;
}
.header_top .header_contacts ul li:hover.link-mail {
  background-color: #5a7edc;
}
.header_top .header_contacts ul li:hover a {
  color: #fff;
  text-decoration: none;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  text-decoration-color: transparent;
}
@media screen and (max-width: 640px) {
  .header_top .header_contacts ul li {
    margin-left: 15px;
    width: 26px;
    height: 26px;
  }
  .header_top .header_contacts ul li a {
    width: 26px;
    line-height: 24px;
    height: 26px;
  }
  .header_top .header_contacts ul li a i::before {
    margin: 0;
    position: relative;
    top: -1px;
    font-size: 14px;
  }
  .header_top .header_contacts ul li:first-child {
    margin: 0;
  }
  .header_top .header_contacts ul {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header_top .header_contacts {
    height: 10%;
    min-height: 10vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.main_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 140px 0;
  position: relative;
}
@media screen and (max-height: 768px) {
  .main_section {
    padding: 40px 0;
  }
}
@media screen and (max-width: 1400px) {
  .main_section {
    padding: 90px 0;
  }
}
.main_section .main_block-text .main_section-title {
  font-size: 44px;
  line-height: 1.2;
  margin: 0 auto 35px;
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-text .main_section-title {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 1168px) {
  .main_section {
    padding: 50px 0;
  }
  .main_section .main_block-text .main_section-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-text .main_section-title {
    font-size: 34px;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 640px) {
  .main_section {
    padding: 10px 0;
  }
  .main_section .main_block-text .main_section-title {
    font-size: 28px;
    margin: 0 auto 12px;
    max-width: 80%;
    font-weight: 700;
  }
}
@media screen and (max-width: 400px) {
  .main_section .main_block-text .main_section-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 370px) {
  .main_section .main_block-text .main_section-title {
    font-size: 22px;
    margin: 0 auto 10px;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .main_section .main_block-text .main_section-title {
      font-size: 22px;
      margin: 0 auto 15px;
    }
  }
}
.main_section .main_block-text .main_section-subTitle {
  font-size: 28px;
  line-height: 1.2;
  width: 100%;
  max-width: 75%;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto 50px;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 24px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 1440px) {
  .main_section .main_block-text .main_section-subTitle {
    max-width: 85%;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 17px;
    max-width: 100%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 400px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 15px;
  }
  .main_section .main_block-contact {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 14px;
    letter-spacing: 0.02rem;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 350px) {
  .main_section .main_block-text .main_section-subTitle {
    font-size: 13px;
    letter-spacing: 0;
  }
}
.main_section .main_block-media {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto 65px;
}
@media screen and (max-width: 640px) {
  .main_section .main_block-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto 25px;
  }
}
.main_section .main_block-media .block-media {
  width: 30%;
  height: 200px;
  border: 2px solid #000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.main_section .main_block-media .block-media:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.main_section .main_block-media .block-media:hover .block_media-icon {
  color: #e10000;
}
.main_section .main_block-media .block-media:last-of-type {
  margin: 0;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-media .block-media {
    height: 175px;
    width: 25%;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-media .block-media {
    height: 200px;
    width: 30%;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-media .block-media {
    height: 175px;
    width: 30%;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-media .block-media {
    height: 75px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
  }
}
.main_section .main_block-media .block-media .block_media-icon {
  display: block;
  margin: 0 auto 25px;
  font-size: 65px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-media .block-media .block_media-icon {
    margin: 0 auto 20px;
    font-size: 60px;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-media .block-media .block_media-icon {
    margin: 0 auto 20px;
    font-size: 60px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-media .block-media .block_media-icon {
    margin: 0 auto 15px;
    font-size: 55px;
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-media .block-media .block_media-icon {
    margin: 0;
    font-size: 45px;
    width: 100%;
    max-width: 30%;
  }
  .main_section .main_block-media .block-media .block_media-icon::before {
    margin: 0;
  }
}
@media screen and (max-width: 370px) {
  .main_section .main_block-media {
    margin: 0 auto 15px;
  }
  .main_section .main_block-media .block-media {
    height: 65px;
  }
  .main_section .main_block-media .block-media .block_media-icon {
    font-size: 35px;
  }
}
.main_section .main_block-media .block-media .block_media-paragraph {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02rem;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-media .block-media .block_media-paragraph {
    line-height: 1.1;
    font-size: 18px;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-media .block-media .block_media-paragraph {
    line-height: 1.1;
    font-size: 18px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-media .block-media .block_media-paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-media .block-media .block_media-paragraph {
    font-size: 15px;
    width: 100%;
    max-width: 60%;
    text-align: left;
  }
}
.main_section .main_block-contact {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-height: 768px) {
  .main_section .main_block-contact {
    padding: 20px 12px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-contact {
    padding: 18px 10px;
  }
}
@media screen and (max-width: 960px) {
  .main_section .main_block-contact {
    max-width: 75%;
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-contact {
    padding: 15px 0;
    max-width: 100%;
  }
}
.main_section .main_block-contact .block_contact-text {
  color: #fff;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.03rem;
  width: 100%;
  text-align: center;
  margin: 0 auto 35px;
  max-width: 90%;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-contact .block_contact-text {
    font-size: 24px;
    line-height: 1.1;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-contact .block_contact-text {
    font-size: 23px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-contact .block_contact-text {
    font-size: 22px;
    margin: 0 auto 25px;
  }
}
@media screen and (max-width: 640px) {
  .main_section .main_block-contact .block_contact-text {
    font-size: 20px;
    max-width: 95%;
  }
}
@media screen and (max-width: 400px) {
  .main_section .main_block-contact .block_contact-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .main_section .main_block-media .block-media .block_media-paragraph {
    font-size: 14px;
    max-width: 65%;
  }
  .main_section .main_block-contact {
    padding: 12px 0 15px;
  }
  .main_section .main_block-contact .block_contact-text {
    font-size: 15px;
    margin: 0 auto 20px;
  }
}
.main_section .main_block-contact .block_contact-button {
  position: relative;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 12px 0;
  border: 0;
  text-align: center;
  outline: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: #f60000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 -4px 8px rgba(0, 0, 0, 0.25),
    inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.main_section .main_block-contact .block_contact-button:hover {
  background-color: #c00000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main_section .main_block-contact .block_contact-button:focus {
  outline: 0;
}
.main_section .main_block-contact .block_contact-button i {
  position: absolute;
}
@media screen and (max-height: 768px) {
  .main_section .main_block-contact .block_contact-button {
    font-size: 18px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 1168px) {
  .main_section .main_block-contact .block_contact-button {
    font-size: 18px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .main_section .main_block-contact .block_contact-button {
    font-size: 16px;
  }
}
.gallery_main {
  padding: 20px 15px 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #fff;
}
@media screen and (max-width: 640px) {
  .gallery_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.gallery_main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 74%;
}
.gallery_main-content .gallery_description h3 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 auto 25px;
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: 600;
  display: block;
}
@media screen and (max-width: 960px) {
  .gallery_main-content .gallery_description h3 {
    font-size: 22px;
    margin: 0 auto 22px;
  }
}
@media screen and (max-width: 640px) {
  .gallery_main-content {
    max-width: 100%;
  }
  .gallery_main-content .gallery_description h3 {
    font-size: 20px;
    margin: 0 auto 18px;
  }
}
.gallery_main-content .gallery_description .gallery_video {
  width: 100%;
  display: block;
  margin: 0 auto 25px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .gallery_main-content .gallery_description .gallery_video {
    margin: 0 auto 22px;
  }
}
@media screen and (max-width: 640px) {
  .gallery_main-content .gallery_description .gallery_video {
    margin: 0 auto 18px;
  }
}
@media screen and (max-width: 370px) {
  .main_section .main_block-contact .block_contact-button {
    font-size: 14px;
    padding: 10px 0;
    max-width: 90%;
  }
  .gallery_main-content .gallery_description .gallery_video,
  .gallery_main-content .gallery_description h3 {
    margin: 0 auto 15px;
  }
}
.gallery_main-content .gallery_description .gallery_video video {
  width: 100%;
  max-width: 100%;
}
.gallery_main-content .gallery_contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.gallery_main-content .gallery_contacts p {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  width: 100%;
  max-width: 60%;
  min-width: 52%;
  text-align: left;
  color: #000;
  display: block;
  font-weight: 700;
}
@media screen and (max-width: 960px) {
  .gallery_main-content .gallery_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .gallery_main-content .gallery_contacts p {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 15px;
  }
}
.gallery_main-content .gallery_contacts .gallery_contacts-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.gallery_main-content .gallery_contacts .gallery_contacts-links a {
  max-width: 275px;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  margin: 0 0 25px;
  letter-spacing: 0.05rem;
  padding: 10px 0;
  border: 0;
  text-align: center;
  outline: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: block;
  background: #f60000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 -4px 8px rgba(0, 0, 0, 0.25),
    inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gallery_main-content .gallery_contacts .gallery_contacts-links a:hover {
  background-color: #c00000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gallery_main-content .gallery_contacts .gallery_contacts-links a:focus {
  outline: 0;
}
.gallery_main-content .gallery_contacts .gallery_contacts-links a:last-of-type {
  margin: 0;
}
@media screen and (max-width: 1168px) {
  .gallery_main-content .gallery_contacts p {
    font-size: 16px;
  }
  .gallery_main-content .gallery_contacts .gallery_contacts-links a {
    max-width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .gallery_main-content .gallery_contacts .gallery_contacts-links a {
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .gallery_main-content .gallery_contacts .gallery_contacts-links a {
    max-width: 55%;
    font-size: 15px;
    margin: 0 auto 20px;
  }
  .gallery_main-content
    .gallery_contacts
    .gallery_contacts-links
    a:last-of-type {
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .gallery_main-content .gallery_contacts p {
    max-width: 100%;
  }
  .gallery_main-content .gallery_contacts .gallery_contacts-links a {
    max-width: 100%;
    font-size: 15px;
    margin: 0 auto 15px;
  }
  .gallery_main-content
    .gallery_contacts
    .gallery_contacts-links
    a:last-of-type {
    margin: 0 auto;
  }
}
.gallery_main_images {
  max-width: 24%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery_main_images.images-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.gallery_main_images.images-row a {
  max-width: 48.75%;
}
@media screen and (max-width: 960px) {
  .gallery_main_images.images-row a {
    max-width: 48.75%;
  }
}
.gallery_main_images.images-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 24%;
  width: 100%;
}
.gallery_main_images.images-column a {
  display: block;
  margin-bottom: 15px;
}
.gallery_main_images.images-column a:last-child {
  margin-bottom: 0;
}
.gallery_main_images.images-column picture {
  display: block;
  margin-bottom: 0;
  max-width: 100%;
  max-height: 425px;
  text-align: right;
}
.gallery_main_images.images-column img {
  max-width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  height: 411px;
  width: 300px;
}
@media screen and (max-width: 1168px) {
  .gallery_main_images.images-column a {
    margin-bottom: 6.55%;
  }
  .gallery_main_images.images-column img {
    height: 350px;
  }
}
@media screen and (max-width: 960px) {
  .gallery_main_images.images-column a {
    margin-bottom: 9%;
  }
  .gallery_main_images.images-column img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 270px;
  }
}
.gallery_main_images a {
  display: inline-block;
  margin-bottom: 20px;
}
.gallery_main_images picture {
  display: block;
  max-width: 100%;
}
.gallery_main_images img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.gallery-page .header_top {
  height: auto;
  padding: 20px 0;
  top: 0;
}
@media screen and (max-width: 640px) {
  .gallery_main_images,
  .gallery_main_images.images-row a {
    max-width: 100%;
  }
  .gallery_main_images.images-column a,
  .gallery_main_images.images-column a:last-child {
    margin-bottom: 15px;
  }
  .gallery_main_images.images-column img {
    width: 100%;
  }
  .gallery_main_images a {
    margin-bottom: 15px;
  }
  .gallery-page .header_top {
    padding: 15px 0;
  }
  .contact-page {
    padding: 20px 0;
  }
}
.contact-page {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-page .go_back-link {
  color: #fff;
}
.contact-page h1 {
  font-size: 38px;
  line-height: 1.2;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 0 auto 40px;
  display: block;
}
@media screen and (max-height: 768px) {
  .contact-page h1 {
    font-size: 34px;
    line-height: 1.1;
    margin: 0 auto 25px;
  }
}
@media screen and (max-width: 960px) {
  .contact-page h1 {
    font-size: 34px;
    line-height: 1.1;
    margin: 0 auto 25px;
  }
}
@media screen and (max-width: 640px) {
  .contact-page h1 {
    font-size: 22px;
    margin: 0 auto 15px;
    max-width: -webkit-calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
@media screen and (max-width: 400px) {
  .contact-page {
    padding: 0;
  }
  .contact-page h1 {
    font-size: 18px;
  }
}
.contact-page .contact_form {
  position: relative;
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
@media screen and (max-height: 768px) {
  .contact-page .contact_form {
    padding: 20px 0;
  }
}
@media screen and (max-width: 960px) {
  .contact-page .contact_form {
    max-width: 550px;
    padding: 25px 0;
  }
}
@media screen and (max-width: 640px) {
  .contact-page .contact_form {
    max-width: -webkit-calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}
.contact-page .contact_form .form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 25px;
  position: relative;
}
@media screen and (max-height: 768px) {
  .contact-page .contact_form .form-group {
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 370px) {
  .gallery_main-content .gallery_contacts p {
    font-size: 15px;
  }
  .gallery_main-content .gallery_contacts .gallery_contacts-links a {
    font-size: 14px;
    padding: 10px 0;
  }
  .contact-page h1 {
    font-size: 15px;
    margin: 0 auto 15px;
  }
  .contact-page .contact_form {
    max-width: -webkit-calc(100% - 20px);
    max-width: -moz-calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 25px 0 15px;
  }
  .contact-page .contact_form .form-group {
    margin: 0 auto 15px;
  }
}
.contact-page .contact_form .form-group label {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 600;
  text-align: left;
  margin: 0 auto 6px 0;
  display: block;
  color: #fff;
}
@media screen and (max-height: 768px) {
  .contact-page .contact_form .form-group label {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .contact-page .contact_form .form-group {
    max-width: -webkit-calc(100% - 10%);
    max-width: -moz-calc(100% - 10%);
    max-width: calc(100% - 10%);
  }
  .contact-page .contact_form .form-group label {
    font-size: 16px;
    text-align: center;
    margin: 0 auto 6px;
  }
}
.contact-page .contact_form .form-group input,
.contact-page .contact_form .form-group textarea {
  font-size: 15px;
  line-height: 1.1;
  padding: 10px 0 10px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  color: #000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: inset 0 0 2px 2px transparent;
  -moz-box-shadow: inset 0 0 2px 2px transparent;
  box-shadow: inset 0 0 2px 2px transparent;
  border: 1px solid transparent;
}
.contact-page .contact_form .form-group input:focus,
.contact-page .contact_form .form-group input:hover,
.contact-page .contact_form .form-group textarea:focus,
.contact-page .contact_form .form-group textarea:hover {
  outline: 0;
}
@media screen and (max-width: 640px) {
  .contact-page .contact_form .form-group input,
  .contact-page .contact_form .form-group textarea {
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .contact-page .contact_form .form-group input::-webkit-input-placeholder,
  .contact-page .contact_form .form-group textarea::-webkit-input-placeholder {
    text-align: center;
  }
  .contact-page .contact_form .form-group input::-moz-placeholder,
  .contact-page .contact_form .form-group textarea::-moz-placeholder {
    text-align: center;
  }
  .contact-page .contact_form .form-group input:-ms-input-placeholder,
  .contact-page .contact_form .form-group textarea:-ms-input-placeholder {
    text-align: center;
  }
  .contact-page .contact_form .form-group input::placeholder,
  .contact-page .contact_form .form-group textarea::placeholder {
    text-align: center;
  }
}
.contact-page .contact_form .form-group:last-of-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.contact-page .contact_form .form-group:last-of-type label {
  width: 100%;
}
.contact-page .contact_form .form-group:last-of-type input {
  width: 25px;
}
.contact-page .contact_form button {
  display: block;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 12px 0;
  border: 0;
  text-align: center;
  outline: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: #f60000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25),
    inset 0 -4px 8px rgba(0, 0, 0, 0.25), inset 0 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 -4px 8px rgba(0, 0, 0, 0.25),
    inset 0 3px 8px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.contact-page .contact_form button:hover {
  background-color: #c00000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.contact-page .contact_form button:focus {
  outline: 0;
}
@media screen and (max-width: 1168px) {
  .contact-page .contact_form button {
    font-size: 18px;
    line-height: 1.1;
  }
}
.thankyou_section {
  height: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.thankyou_section .thankyou_block-text .thankyou_section-title {
  font-size: 44px;
  line-height: 1.2;
  margin: 0 auto 25px;
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
}
@media screen and (max-height: 768px) {
  .contact-page .contact_form button {
    font-size: 18px;
    line-height: 1.1;
  }
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 1168px) {
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .contact-page .contact_form button {
    font-size: 16px;
  }
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 34px;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 640px) {
  .thankyou_section {
    height: 89%;
  }
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 28px;
    margin: 0 auto 12px;
  }
}
@media screen and (max-width: 400px) {
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 370px) {
  .contact-page .contact_form .form-group label {
    font-size: 15px;
    margin: 0 auto 4px;
  }
  .contact-page .contact_form .form-group input,
  .contact-page .contact_form .form-group textarea {
    font-size: 13px;
    padding: 8px;
  }
  .contact-page .contact_form button {
    max-width: -webkit-calc(100% - 30%);
    max-width: -moz-calc(100% - 30%);
    max-width: calc(100% - 30%);
    font-size: 14px;
    padding: 10px 0;
  }
  .thankyou_section .thankyou_block-text .thankyou_section-title {
    font-size: 22px;
    margin: 0 auto 10px;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media screen and (max-width: 640px) {
      .thankyou_section .thankyou_block-text .thankyou_section-title {
        font-size: 22px;
        margin: 0 auto 15px;
      }
    }
  }
}
.thankyou_section .thankyou_block-text .thankyou_section-subTitle {
  font-size: 28px;
  line-height: 1.2;
  margin: 0 auto;
  width: 100%;
  max-width: 75%;
  text-align: center;
  color: #fff;
  display: block;
}
@media screen and (max-height: 768px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 24px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 1168px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 1168px) and (max-height: 768px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 370px) {
  .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
    font-size: 14px;
    letter-spacing: 0.04rem;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media screen and (max-width: 640px) {
      .thankyou_section .thankyou_block-text .thankyou_section-subTitle {
        font-size: 15px;
        margin: 0 auto 25px;
      }
    }
  }
}
#popup_info-area,
#popup_info-house {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 1168px) {
  #popup_info-area,
  #popup_info-house {
    max-width: 70%;
  }
}
@media screen and (max-width: 960px) {
  #popup_info-area,
  #popup_info-house {
    max-width: 95%;
  }
}
#popup_info-area .popup_info-block,
#popup_info-house .popup_info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
#popup_info-area .popup_info-block a,
#popup_info-house .popup_info-block a {
  display: block;
  max-width: 49%;
}
#popup_info-area .popup_info-block a img,
#popup_info-house .popup_info-block a img {
  max-width: 100%;
}
#popup_info-area .popup_info-block:last-of-type,
#popup_info-house .popup_info-block:last-of-type {
  margin: 0;
}
#popup_info-area h4,
#popup_info-house h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 auto 25px;
  display: block;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02rem;
}
@media screen and (max-width: 370px) {
  #popup_info-area h4,
  #popup_info-house h4 {
    font-size: 20px;
  }
}
#popup_info-area p,
#popup_info-house p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02rem;
  max-width: 100%;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 640px) {
  #popup_info-area,
  #popup_info-house {
    max-width: 100%;
  }
  #popup_info-area.fancybox-content,
  #popup_info-house.fancybox-content {
    padding: 30px 20px 0 !important;
  }
  #popup_info-area .popup_info-block,
  #popup_info-house .popup_info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #popup_info-area .popup_info-block a,
  #popup_info-house .popup_info-block a {
    margin-bottom: 15px;
    max-width: 100%;
  }
  #popup_info-area h4,
  #popup_info-house h4 {
    margin: 0 auto 20px;
  }
  #popup_info-area p,
  #popup_info-house p {
    font-size: 17px;
  }
  .fancybox-slide--html {
    padding: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  #popup_info-area p,
  #popup_info-house p {
    font-size: 16px;
  }
}
@media screen and (max-width: 370px) {
  #popup_info-area p,
  #popup_info-house p {
    font-size: 15px;
  }
}
#popup_info-area p::before,
#popup_info-house p::before {
  content: "•";
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: -15px;
}
#popup_info-area p u,
#popup_info-house p u {
  font-weight: 700;
}
